<div style="padding: 40px; font-family: Arial;">

  <h1>Iniciar Sesión</h1>

  <p>
    Ingresa tus datos para acceder.
  </p>

  <br>

  <input type="text" placeholder="Correo">

  <br><br>

  <input type="password" placeholder="Contraseña">

  <br><br>
<a href="/dashboard/index">

  <button>
    Entrar
  </button>

</a>

</div>